@import "../../utils/variables";

.cookie-notice {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 250px;
    background-color: #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border-radius: 8px;
    overflow: hidden !important;

    #cookieSvg {
        width: 50px;

        g path {
            fill: rgb(97, 81, 81);
        }
    }

    h2 {
        font-size: 1.2rem;
        font-weight: 800;
        color: rgb(26, 26, 26);
        padding: 5px;
    }

    p {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        color: rgb(99, 99, 99);

        a {
            --tw-text-opacity: 1;
            text-decoration: none;
            color: rgb(59 130 246);
        }

        a:hover {
            -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
        }
    }

    .acceptButton {
        width: 80px;
        height: 30px;
        background-color: #7b57ff;
        transition-duration: 0.2s;
        border: none;
        color: rgb(241, 241, 241);
        cursor: pointer;
        font-weight: 600;
        border-radius: 20px;
        box-shadow: 0 4px 6px -1px #977ef3, 0 2px 4px -1px #977ef3;
        transition: all 0.6s ease;
    }
    @media (max-width: $md) {
        width: 100%;
        height: 200px;

        #cookieSvg {
            width: 40px;
        }

        h2 {
            font-size: 1.1rem;
            padding: 5px;
        }

        p {
            font-size: 0.7rem;
        }
    }
}
