.container-vetrina {
    max-width: 90% !important;

    .row {
        align-items: center;

        .vetrina-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: black;
            height: 90%;
        }

        .text-container {
            align-items: center;
            margin-right: auto;
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 1s ease, transform 1s ease;

            &.fade-in {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .image-container {
            align-items: flex-end;
        }
    }

    @media (max-width: 768px) {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        .row {
            flex-direction: column-reverse !important;

            .image-container {
                align-items: center;
            }
        }
    }
}
