@import "../../../utils/variables";

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 60svh;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../images/bg.png");
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(75%);
        z-index: -1; /* Posto sotto gli altri contenuti di .banner */
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        height: 80%;
        width: 80%;
        transition: transform 0.5s ease-in-out;
    }
}

@media (max-width: $md) {
    .banner {
        height: 60svh;
    }
}

@media (max-width: $sm) {
    .banner {
        height: 55svh;
    }
}