.body {
    background-image: url("../../images/marmoBackground.png");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
