.loading-gif {
    height: 100svh;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    //transition: opacity 1.5s ease-in-out;
}

.body {
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative;
    background-image: url("../../images/marmo_bg.png");
}

footer {
    height: 20dvh;
    background-color: black;
}

.wip {
    height: 100svh;
    background-color: #d4e5f4;

    h2 {
        font-size: 3rem;
        color: #333;
    }
}
