.loading-gif {
    height: 100svh;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    //transition: opacity 1.5s ease-in-out;
}

.body {
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative;
    background-image: url("../../images/marmoBackground.png");
}

footer {
    height: 20dvh;
    background-color: black;
}
