.body {
    background-image: url("../../images/marmoBackground.png");
    background-blend-mode: multiply;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

footer {
    height: 20dvh;
    background-color: black;
}
