@import "../../../utils/variables";

$item-4k: 100px;
$item-xxl: 300px;
$item-xl: 330px;
$item-l: 290px;
$item-md: 280px;
$item-sm: 170px;
//$item-sm: 47vw;

.panino-container {
    height: 90%;
    transition: transform 0.8s ease;
    overflow: hidden;

    &:has(.panino-shower:hover) {
        transform: scale(1.2);
    }

    .panino-shower {
        position: relative;
        height: $item-4k;
        width: $item-4k;

        .panino-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            transition: transform 0.999s;
            text-align: center;

            .card-front,
            .card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;

                img {
                    position: absolute;
                    height: 100%;
                }

                #hamburger {
                    height: 70%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 2;
                }

                #ingredients {
                    z-index: 1;
                    overflow: hidden;

                    p {
                        padding: 0 5px;
                        margin-bottom: 0 !important;
                    }
                }
            }

            .card-front {
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 24px;
                transform: rotateY(0deg);
            }

            .card-back {
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.1rem;
                font-weight: 500;
                transform: rotateY(180deg);
            }
        }

        &:hover {
            .panino-inner {
                transform: rotateY(180deg);
            }
        }

        @media (max-width: 2200px) {
            height: $item-xxl;
            width: $item-xxl;

            #ingredients {
                position: relative;
                //top: 10px;
                width: calc($item-xxl/1.5);
                font-size: 0.8rem;
            }
        }

        @media (max-width: $xl) {
            height: $item-xl;
            width: $item-xl;

            #ingredients {
                position: relative;
                width: calc($item-xl / 1.5);
                font-size: 0.8rem;
            }
        }

        @media (max-width: $lg) {
            height: $item-l;
            width: $item-l;

            #ingredients {
                position: relative;
                width: calc($item-l / 1.5);
                font-size: 0.9rem;
            }
        }

        @media (max-width: $md) {
            height: $item-md;
            width: $item-md;

            #ingredients {
                position: relative;
                width: calc($item-md / 1.5);
                font-size: 0.75rem;
            }
        }

        @media (max-width: $sm) {
            height: $item-sm;
            width: $item-sm;

            #ingredients {
                position: relative;
                width: calc($item-sm / 1.4);
                font-size: 0.5rem;
            }
        }

        @media (max-width: 490px) {
            height: $item-sm;
            width: $item-sm;

            #ingredients {
                position: relative;
                width: calc($item-sm / 1.5);
                font-size: 0.5rem;
            }
        }
    }

    span {
        font: bold 1.75rem sans-serif;
        overflow: hidden;
        text-align: center;
        padding-bottom: 5px;

        @media (max-width: $xxl) {
            font: bold 1.5rem sans-serif;
        }

        @media (max-width: 370px) {
            font: bold 1rem sans-serif;
        }

        //padding per dispositivi iOS
        @supports (-webkit-touch-callout: none) and (not (pointer: fine)) {
            padding-bottom: 1.3rem;
        }
    }
}
