.accordion-body-row {
    border-bottom: 1px solid #bebebe;
    margin: 5px;
    padding-bottom: 1px;

    .accordion-content {
        font: 500 1.1rem sans-serif;
    }

    .accordion-price {
        font-size: 0.9rem;
    }
}