@import "../../../utils/variables";

$fs-xxl: 3.7vw;
$fs-md: 8.8vw;

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../images/bg.png");
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(75%);
        z-index: -1; /* Posto sotto gli altri contenuti di .banner */
    }

    .container {
        max-width: 90% !important;
        height: fit-content;
        padding: 0;

        .row {
            align-items: center;
            width: 100%;

            .offer-container {
                line-height: normal;
                display: flex;
                justify-content: center;
                padding: 0;

                .offer-img {
                    width: 60%;

                    img {
                        width: 100%;
                    }
                }

                .offer-description {
                    color: white;
                    width: 100%;
                    font: 400 Inter, sans-serif;
                    text-align: center;

                    :nth-child(2) {
                        font-weight: bold;
                    }

                    :nth-child(3) {
                        width: 85%;
                        margin: auto;
                    }

                    span {
                        display: block;
                        line-height: 1.4;
                    }
                }
            }

            @media (max-width: $md) {
                flex-direction: column;

                #image {
                    width: 50%;
                }

                #text {
                    width: 90%;
                }
            }
        }
    }
}

//MEDIA QUERY
@media (min-width: 768px) {
    .banner {
        height: 60svh;
    }
}

@media (max-width: $md) {
    .banner {
        max-height: 65svh;
        margin-top: $navbar-height-md;
    }

    .container {
        .row {
            .offer-description {
                font-size: $fs-md;

                :nth-child(3) {
                    font-size: calc($fs-md/2.5);
                }
            }
        }
    }
}
