@import "../../../utils/variables";

$fs-xxl: 4rem;
$fs-xl: 3.5rem;
$fs-l: 3rem;

.banner {
    background-image: url("../../../images/bg.png");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    max-height: 70svh;
    margin-top: $navbar-height;

    .container {
        max-width: 90% !important;
        height: fit-content;

        .row {
            align-items: center;
            width: fit-content;

            #image {
                justify-content: flex-end;
            }
            /*#text {
                justify-content: flex-start;
            }*/

            .offer-container {
                line-height: normal;
                display: flex;
                justify-content: center;
                /*padding-left: 20px;
                padding-right: 20px;*/

                .offer-img {
                    width: 500px;

                    img {
                        width: 100%;
                    }
                }
            }

            .offer-description {
                color: white;
                font: 400 Inter, sans-serif;
                font-size: 3.5vw;
                text-align: center;

                :nth-child(2) {
                    font-weight: bold;
                }

                :nth-child(3) {
                    font-size: calc(3.5vw / 2);
                }

                span {
                    display: block;
                    line-height: 1.4;
                }

                @media (max-width: 767px) {
                    font: 400 Inter, sans-serif;
                    font-size: 5.8vw;
                    text-align: center;

                    :nth-child(3) {
                        font-size: calc(5.8vw / 2);
                    }
                }

                @media (max-width: 1200px) {
                    font-size: 5.3vw;
                    text-align: center;

                    :nth-child(3) {
                        font-size: calc(5.3vw / 2);
                    }
                }

                @media (max-width: 1300px) {
                    font-size: 5vw;
                    text-align: center;

                    :nth-child(3) {
                        font-size: calc(5vw / 2);
                    }
                }
            }
        }
    }
}
