@import "../../../utils/variables";

$fs-xxl: 4vw;
$fs-md: 7vw;
$fs-sm: 8.7vw;
$fs-xs: 9.7vw;

.banner {
    background-image: url("../../../images/bg.png");
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    margin-top: $navbar-height-lg;

    .container {
        max-width: 90% !important;
        height: fit-content;
        padding: 0;

        .row {
            align-items: center;
            width: 100%;

            .offer-container {
                line-height: normal;
                display: flex;
                justify-content: center;
                padding: 0;

                .offer-img {
                    width: 60%;

                    @media (max-width: $md) {
                        max-height: 250px;
                    }

                    img {
                        width: 100%;
                    }
                }

                .offer-description {
                    color: white;
                    width: 100%;
                    font: 400 Inter, sans-serif;
                    text-align: center;

                    :nth-child(2) {
                        font-weight: bold;
                    }

                    :nth-child(3) {
                        width: 85%;
                        margin: auto;
                        font-size: calc($fs-xxl / 2);
                    }

                    span {
                        display: block;
                        line-height: 1.4;
                    }

                    @media (min-width: 768px) {
                        font-size: $fs-xxl;
                        text-align: center;

                        :nth-child(3) {
                            font-size: calc($fs-xxl / 2);
                        }
                    }

                    //Bootstrap Breakpoint medium
                    @media (max-width: $md) {
                        font-size: $fs-md;
                        text-align: center;

                        :nth-child(3) {
                            font-size: calc($fs-md / 2);
                        }
                    }

                    //Bootstrap Breakpoint small
                    @media (max-width: $sm) {
                        font-size: $fs-sm;
                        text-align: center;

                        :nth-child(3) {
                            font-size: calc($fs-sm / 2.5);
                        }
                    }

                    //Dispositivo mobile grande
                    @media (max-width: 425px) {
                        font-size: $fs-xs;
                        text-align: center;

                        :nth-child(3) {
                            font-size: calc($fs-xs / 2.1);
                        }
                    }
                }
            }

            @media (max-width: $md) {
                flex-direction: column;

                #image {
                    width: 50%;
                }

                #text {
                    width: 90%;
                }
            }
        }
    }

    @media (max-width: $md) {
        max-height: 65svh;
        margin-top: $navbar-height-md;
    }

    @media (min-width: 768px) {
        height: 60svh;
    }
}
