*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --menuBanner: #8AA940;
    --lanBanner: #7E1DC5;
    --hoverNavbar: #0096ff;
}

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: auto;
    width: calc(100% - 48px);
}

.flex-container {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.banner {
    position: relative;
    left: -300px;
    height: 150vh;
    width: fit-content;
    margin-top: -100px;
    filter: brightness(50%);
    overflow: hidden;
}

.navbar {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding: 0% 2%;
    /*border-bottom: 1px solid rgba(124, 124, 124, 0.7);*/
    overflow: hidden;
    position: sticky;
    z-index: 1;
}

.navbar a {
    float: right;
    color: #bebebe;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.navbar a:hover {
    color: rgb(0, 150, 255);
}

.vetrina {
    background-color: var(--menuBanner);
    padding: 56px 0 56px 0;
}

.content {
    display: flex;
    flex-direction: row-reverse;
}

#menu-container {
    gap: 150px
}

#menu-container .text-container {
    flex-direction: column;
    gap: 25px;
}

#menu-container .img-container {
    position: relative;
    width: 530px;
    height: 341px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
}

#menu-container .img-container .img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu-container {
    gap: 151px;
}

#menu-container .text-container {
    flex-direction: column;
    gap: 24px;
}

#menu-container .img-container {
    position: relative;
    width: 530px;
    height: 341px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
}

#menu-container .img-container .img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#menu-container .text-container h2 {
    font-size: 2em;
}

#LAN-container {
    background-color: var(--lanBanner);
}

.description-column {
    /*width: 65%;
    height: fit-content;
    padding: 150px 0px;
    margin: 0 auto;*/
    background-color: red;
}

.description-title-container h2 {
    font-size: 3em;
}

.img-column {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.img-column img {
    height: 50vh;
}



/*TESTING CSS*/
#fixed-article {
    margin-top: 56px;
    margin-bottom: 56px;
}

#main-article {
    gap: 151px;
}

#main-article .text-container {
    flex-direction: column;
    gap: 24px;
}

#main-article .img-container {
    position: relative;
    width: 530px;
    height: 341px;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
}

#main-article .img-container .img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#main-article footer {
    gap: 16px;
}

#main-article .author-box {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

#main-article .author-box p {
    font-weight: 600;
}