*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --menuBanner: #8AA940;
  --lanBanner: #7E1DC5;
  --hoverNavbar: #0096ff;
}

.recensioni {
  background-color: #f4f4f4;
  padding: 40px 0;
  text-align: center;
}

.recensioni h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.recensione {
  max-width: 25%;
  margin: 0 auto 30px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recensione .stelle {
  font-size: 24px;
  color: #FFD700;
  margin-bottom: 10px;
}

.recensione .tempo {
  color: #888;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.recensione p {
  line-height: 1.5;
}
