@import "../../../utils/variables";

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 calc(1.5rem * 0.5);
    height: $navbar-height-lg;
    z-index: 1050;

    ul li a {
        color: white;
    }

    @media (max-width: 769px) {
        height: $navbar-height-md;
    }
}

/*.offcanvas {
    width: 100vw !important;

    .offcanvas-body {
        align-items: center;

        @media (max-width: 767px) {
            ul {
                justify-content: center;
            }
        }
    }
}*/

.offcanvas {
    width: 100% !important;
    z-index: 1060;
    background-color: rgba(0, 0, 0, 0.6);
    .offcanvas-body {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
