body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.banner {
    position: relative;
    left: -300px;
    height: 150vh;
    width: fit-content;
    margin-top: -100px;
    filter: brightness(50%);
    overflow: hidden;
}

.navbar {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    padding: 0% 2%;
    /*border-bottom: 1px solid rgba(124, 124, 124, 0.7);*/
    overflow: hidden;
    position: sticky;
    z-index: 1;
}

.navbar a {
    float: right;
    color: #bebebe;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

.navbar a:hover {
    color: rgb(0, 150, 255);
}

.vetrina {
    margin: 100px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
}

#menu-container {
    background-color: #8AA940;
    width: 100%;
}

.description-column {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    height: fit-content;
    padding-top: 15%;
    margin: auto;
}

.description-title-container h2 {
    font-size: 3em;
}

.img-column img{
    width: 600px;
    
}