#link-menu {
    display: inline;
    width: 600px;
    height: auto;

    @media (max-width: 768px) {
        width: 100vw;
    }

    #img-menu {
        width: 90%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}
