@import "../../../utils/variables";

#link-menu {
    height: 500px;
    max-width: 100%;
    overflow: hidden;

    @media (max-width: $md) {
        width: 100vw;
        height: auto;
    }

    #img-menu {
        height: 100%;
        width: auto;
        object-fit: cover;

        @media (max-width: $md) {
            width: 100%;
        }
    }
}
