#link-menu {
    /*display: inline;
    width: 600px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    overflow: hidden;

    @media (max-width: 767px) {
        width: 100vw;
    }

    #img-menu {
        /*width: 90%;
        height: auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);*/
        height: 100%;
        width: auto;
        object-fit: cover;

        @media (max-width: 767px) {
            width: 90%;
        }
    }
}
