//variables

$vetrina-menu: #8aa940;
$vetrina-lan: #7e1dc5;
$vetrina-story: #926b37;
$vetrina-story2: #7fb8c9;
$vetrina-lanPC: #d0d3f5;

// NAVBAR HEIGHTS
$navbar-height-md: 60px;
$navbar-height-lg: 9svh;

// BREAKPOINTS VARIABLES
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 767px;
$sm: 575px;

// OFFER TEXT SIZES
$fs-default: 2rem;
$fs-xlarge: 1.7rem;
$fs-large: 1.5rem;
$fs-medium: 1.3rem;
$fs-small: 0.9rem;
