.panino-container {
    transition: transform 0.4s ease;

    &:hover {
        transform: scale(1.1);
    }

    .panino-shower {
        position: relative;
        width: 300px;
        height: 300px;

        img {
            position: absolute;
            height: 100%;
            top: 0;

            &:nth-child(2) {
                top: 35px;
                left: 50%;
                transform: translateX(-50%);
                height: 80%;
            }
        }

        @media (max-width: 1460px) {
            width: 250px;
            height: 250px;
        }

        @media (max-width: 992px) {
            width: 200px;
            height: 200px;
        }
    }

    span {
        font: bold 1.5rem sans-serif;
    }
}
