.panino-container {
    width: fit-content;

    .panino-shower {
        position: relative;
        width: 300px;
        height: 300px;

        img {
            position: absolute;
            height: 100%;
            top: 0;
        }

        :nth-child(2) {
            top: 35px;
            left: 50%;
            transform: translateX(-50%);
            height: 75%;
        }
    }

    span {
        font: bold 1.5rem sans-serif;
    }
}
