@import "../../../utils/variables";

.menu-container {
    max-width: 95% !important;

    .hamburger-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}
